@import "../../mixins";
.navbar {
  width: 100%;
  height: 60px;
  background-color: rgb(20, 4, 48);
  color: #fff;
  padding: 0 3rem;
  @include d-flex(row, space-between, center);

  .brand {
    color: #fff;
  }

  .logo-container {
    img {
      width: 180px; // 👈 Makes the logo small and clean
      height: auto;
      object-fit: contain;
      margin-left: 1rem;
      margin-top: 2.5rem;
    }
  }
  .hamburger {
    display: none;
  }
  .search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .search-form {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 5px 10px;
  }

  .search-form input {
    border: none;
    padding: 5px;
    border-radius: 10px;
    outline: none;
  }

  .search-form button {
    background: none;
    border: none;
    cursor: pointer;
  }
  .menu {
    flex: 1;
    margin-left: 2rem;

    ul {
      @include d-flex(row, flex-start, center);
      gap: 1rem;

      .close {
        display: none;
      }

      li {
        a {
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .navbar {
    .hamburger {
      display: block;
      margin-left: 1rem;
      cursor: pointer;
    }
    .menu {
      width: 100vw;
      height: 100vh;
      margin: 0;
      padding: 0;
      background-color: rgb(20, 4, 48);
      position: fixed;
      left: -100vw;
      top: 0;
      z-index: 3;
      transition: all 0.3s linear;

      &.open {
        left: 0;
      }

      ul {
        @include d-flex(column, center, center);
        height: 100%;
        gap: 3rem;
        position: relative;

        .close {
          display: block;
          position: absolute;
          top: 1rem;
          right: 2rem;
          cursor: pointer;
          font-size: 30px;
        }
      }
    }
  }
}
